<header class="header">
  <div class="header__content">
    <div class="header__contact-info">
      <span class="header__mobile">+1 (212) 555-9875</span>
      <span class="header__divider"> | </span>
      <span class="header__email">info&commat;eternatravelco.com</span>
    </div>
    <div class="header__social-info">
      <ul class="header__social">
        <li class="header__icon">
          <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li class="header__icon">
          <a href="https://www.pinterest.com/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>
        </li>
        <li class="header__icon">
          <a href="https://www.pl.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>

      <app-dropdown-selector [navigationButtons$]="currencyNavigationButtons$" />
      <app-dropdown-selector [navigationButtons$]="languageNavigationButtons$" />
    </div>
  </div>

  <div class="header__nav">
    <div class="header__branding">
      <a class="header__branding-link" routerLink="/">
        <img class="header__branding-logo" src="assets/logo/eterna-travel-co-logo.png" alt="Logo" />
        <h1 class="header__branding-name">Eterna Travel Co.</h1>
      </a>
    </div>

    <nav class="header__navbar">
      <app-navbar></app-navbar>
    </nav>

    <div class="header__auth">
      <ul class="header__auth-icons">
        <li (click)="onAuthMenuOpen()">
          <i class="fa-solid fa-user"></i>
        </li>

        @if (isAuthMenuOpen()) {
          <ul class="header__menu">
            @for (button of authNavigationButtons; track $index) {
              <li>
                <a [routerLink]="button.link">{{ (button.textKey | translate) || button.defaultText }}</a>
              </li>
            }
          </ul>
        }

        <li (click)="onMenuOpen()">
          <i class="fa-solid fa-bars"></i>
        </li>

        @if (isMenuOpen()) {
          <div class="header__menu">
            <app-navbar></app-navbar>
          </div>
        }
      </ul>

      <ul class="header__auth-links">
        @for (button of authNavigationButtons; let i = $index; track $index) {
          <li>
            <a [routerLink]="button.link">{{ (button.textKey | translate) || button.defaultText }}</a>
          </li>

          @if (i < authNavigationButtons.length - 1) {
            <li>/</li>
          }
        }
      </ul>
    </div>
  </div>
</header>
