.header {
  &__content,
  &__social,
  &__nav,
  &__auth,
  &__auth-icons {
    display: flex;
    align-items: center;
  }

  &__content,
  &__nav {
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    width: 100%;
  }

  &__content {
    padding: 5px 50px;
    background-color: rgba(var(--color-primary--rgba), 0.05);
    font-size: var(--text-caption--size);
    line-height: var(--text-caption--line);
    color: rgba(var(--color-primary--rgba), 0.8);

    @media (max-width: 576px) {
      padding: 5px 30px;
    }
  }

  &__nav {
    padding: 5px 30px;
  }

  &__navbar {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &__contact-info {
    &-divider,
    &-email {
      @media (max-width: 576px) {
        display: none;
      }
    }
  }

  &__social {
    &-icons {
      display: flex;
    }

    &-icon {
      font-size: var(--text-lg--size);
      line-height: var(--text-lg--line);
      margin-left: 12px;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--color-secondary);
        opacity: 1;
      }
    }
  }

  &__divider {
    margin: 0 12px;
    opacity: 0.6;
  }

  &__currency {
    margin-right: 4px;
  }

  &__nav {
    padding: 20px 50px;

    @media (max-width: 564px) {
      padding: 5px 30px;
    }
  }

  &__logo {
    font-family: var(--font-fugaz);
    font-size: var(--text-h5--size);
    line-height: var(--text-h5--line);

    @media (max-width: 564px) {
      font-size: var(--text-subtitle--size);
    }
  }

  &__auth,
  &__auth-icons {
    gap: 16px;
  }

  &__auth-icon {
    cursor: pointer;

    &--user,
    &--bars {
      @media (min-width: 991px) {
        display: none;
      }
    }
  }

  &__mobile-menu {
    cursor: pointer;

    @media (min-width: 991px) {
      display: none;
    }
  }

  &__auth {
    color: rgba(var(--color-primary--rgba), 0.8);

    @media (max-width: 991px) {
      position: relative;
    }

    &-navigation {
      font-family: var(--font-workSans);
      font-weight: 600;
      font-size: var(--text-subtitle--size);
      line-height: var(--text-subtitle--line);

      @media (max-width: 991px) {
        display: none;
      }
    }

    &-item {
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  &__menu {
    @media (max-width: 991px) {
      position: absolute;
      padding: 10px 15px;
      background-color: white;
      border-radius: 6px;
      top: 100%;
      right: 0;
      border: 1px solid rgba(var(--color-primary--rgba), 0.2);
      z-index: 9999;
    }

    &--item {
      margin-bottom: 6px;
    }

    &--item:last-child {
      margin-bottom: 0;
    }
  }
}
