<div class="grid grid-cols-6 gap-x-[30px]">
  <app-home-browse-by-category-card *ngFor="let tourType of tourTypes" [tourType]="tourType"></app-home-browse-by-category-card>
  <!--
  <div class="border-[1px] border-heading border-opacity-10 px-4 py-6">
    <img class="w-10 h-10" [src]="adventureIconUrl">

    <div class="my-4">
      <h6 class="font-workSans font-bold text-h6 text-heading">Adventure</h6>
      <span class="font-light text-body text-heading text-opacity-60">10 Tours+</span>
    </div>

    <div class="flex items-center gap-2">
      <span class="font-light text-body text-heading opacity-60">From</span>
      <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
    </div>
  </div>
  <div class="border-[1px] border-heading border-opacity-10 px-4 py-6">
    <img class="w-10 h-10" [src]="beachesIconUrl">

    <div class="my-4">
      <h6 class="font-workSans font-bold text-h6 text-heading">Beaches</h6>
      <span class="font-light text-body text-heading text-opacity-60">10 Tours+</span>
    </div>

    <div class="flex items-center gap-2">
      <span class="font-light text-body text-heading opacity-60">From</span>
      <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
    </div>
  </div>
  <div class="border-[1px] border-heading border-opacity-10 px-4 py-6">
    <img class="w-10 h-10" [src]="boatToursIconUrl">

    <div class="my-4">
      <h6 class="font-workSans font-bold text-h6 text-heading">Boat Tours</h6>
      <span class="font-light text-body text-heading text-opacity-60">10 Tours+</span>
    </div>

    <div class="flex items-center gap-2">
      <span class="font-light text-body text-heading opacity-60">From</span>
      <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
    </div>
  </div>
  <div class="border-[1px] border-heading border-opacity-10 px-4 py-6">
    <img class="w-10 h-10" [src]="cityToursIconUrl">

    <div class="my-4">
      <h6 class="font-workSans font-bold text-h6 text-heading">City Tours</h6>
      <span class="font-light text-body text-heading text-opacity-60">10 Tours+</span>
    </div>

    <div class="flex items-center gap-2">
      <span class="font-light text-body text-heading opacity-60">From</span>
      <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
    </div>
  </div>
  <div class="border-[1px] border-heading border-opacity-10 px-4 py-6">
    <img class="w-10 h-10" [src]="foodIconUrl">

    <div class="my-4">
      <h6 class="font-workSans font-bold text-h6 text-heading">Food</h6>
      <span class="font-light text-body text-heading text-opacity-60">10 Tours+</span>
    </div>

    <div class="flex items-center gap-2">
      <span class="font-light text-body text-heading opacity-60">From</span>
      <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
    </div>
  </div>
  <div class="border-[1px] border-heading border-opacity-10 px-4 py-6">
    <img class="w-10 h-10" [src]="hikingIconUrl">

    <div class="my-4">
      <h6 class="font-workSans font-bold text-h6 text-heading">Hiking</h6>
      <span class="font-light text-body text-heading text-opacity-60">10 Tours+</span>
    </div>

    <div class="flex items-center gap-2">
      <span class="font-light text-body text-heading opacity-60">From</span>
      <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
    </div>
  </div>
  -->
</div>
