<app-page-title></app-page-title>

<!-- About Us -->
<app-about-us></app-about-us>

<!-- Features -->
<app-about-features></app-about-features>

<!-- Team -->
<app-about-team></app-about-team>

<!-- Testimonials -->
<section class="bg-surface section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">
    <div class="grid grid-cols-12">
      <div class="col-start-1 col-span-4">
        <app-testimonials-image-section [sectionType]="'about'"></app-testimonials-image-section>
      </div>

      <div class="col-start-7 col-span-5 text-center">
        <div class="mb-12">
          <span class="font-kaushan font-normal text-2xl text-brandPrimary">Testimonials</span>
          <h3 class="font-workSans font-bold text-h3 text-heading mt-2">What Travelers Say</h3>
        </div>

        <app-home-testimonials-quote></app-home-testimonials-quote>

        <div class="flex gap-2 mt-10 justify-center">
          <span class="bg-heading opacity-10 rounded-full w-2 h-2"></span>
          <span class="bg-brandPrimary rounded-full w-2 h-2"></span>
          <span class="bg-heading opacity-10 rounded-full w-2 h-2"></span>
          <span class="bg-heading opacity-10 rounded-full w-2 h-2"></span>
        </div>
      </div>
    </div>
  </div>
</section>
