<img class="absolute bottom-0 left-0 rotate-[-15deg] w-[306px] h-[368px] transform origin-top-left object-cover" [src]="whyChooseUsImageUrl2">
<img class="absolute bottom-0 right-0 w-[338px] h-[426px] border-[5px] border-white object-cover" [src]="whyChooseUsImageUrl1">
<button routerLink="/contact-us" class="absolute w-[279px] h-[75px] bottom-8 left-1/2 transform -translate-x-1/2 bg-brandPrimary border-[1px] border-white">
  <div class="flex ml-10 gap-[9px]">
    <svg class="w-8 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9l0-176c0-8.7 4.7-16.7 12.3-20.9z"/></svg>
    <span class="font-kaushan font-normal text-xl leading-8 text-white">Watch Now</span>
  </div>
</button>

