<app-page-title></app-page-title>

<section class="section-block-spacing-top">
  <div class="custom-container">
    <app-contact-info></app-contact-info>
  </div>
</section>

<section class="section-block-spacing-bottom section-block-spacing-top">
  <div class="custom-container">
    <div class="grid grid-cols-2 gap-[30px]">
      <div>
        <div class="mb-6">
          <span class="font-kaushan font-normal text-2xl text-brandPrimary">Have any question?</span>
          <h3 class="font-workSans font-bold text-h3 text-heading">Get in Touch</h3>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="grid grid-flow-row auto-rows-min">
            <div class="mb-[14px]">
              <input formControlName="name" type="text" class="input-field w-full" placeholder="Your name">

              <ng-container *ngIf="contactForm.get('name')?.touched || contactForm.get('name')?.dirty">
                <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('name')?.errors?.['required']">Name is required.</span>
                <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('name')?.errors?.['minlength']">The name should be at least 3 characters long.</span>
                <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('name')?.errors?.['maxlength']">The name should not exceed 255 characters.</span>
                <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('name')?.hasError('pattern')">The name should consist of uppercase and lowercase letters and may contain spaces, e.g., 'John Smith'.</span>
              </ng-container>
            </div>

            <div class="mb-[14px]">
              <input formControlName="email" type="text" class="input-field w-full" placeholder="Email address">

              <ng-container *ngIf="contactForm.get('email')?.touched || contactForm.get('email')?.dirty">
                <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('email')?.errors?.['required']">Email is required.</span>
                <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('email')?.errors?.['minlength']">The email should be at least 3 characters long.</span>
                <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('email')?.errors?.['maxlength']">The email should not exceed 255 characters.</span>
                <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('email')?.hasError('pattern')">Enter a valid email address.</span>
              </ng-container>
            </div>
          </div>

          <div class="mb-[14px]">
            <textarea formControlName="content" class="input-field h-[160px] w-full" placeholder="Write something..."></textarea>

            <ng-container *ngIf="contactForm.get('content')?.touched || contactForm.get('content')?.dirty">
              <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('content')?.errors?.['required']">Content is required.</span>
              <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('content')?.errors?.['minlength']">The content should be at least 10 characters long.</span>
              <span class="block font-light text-xs text-errorColor mt-1" *ngIf="contactForm.get('content')?.errors?.['maxlength']">The content should not exceed 1000 characters.</span>
            </ng-container>
          </div>

          <button class="bg-brandPrimary px-10 py-5 rounded-lg font-inter font-normal text-action text-white" [disabled]="contactForm.invalid">Submit</button>

          <ng-container *ngIf="successMessage">
            <span class="block font-light text-xs text-secondarySuccessColor mt-2">{{ successMessage }}</span>
          </ng-container>

          <ng-container *ngIf="contactForm.hasError('SMTPError')">
            <span class="block font-light text-xs text-errorColor mt-2">{{ contactForm.getError('SMTPError') }}</span>
          </ng-container>

        </form>

      </div>

      <div>
        <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6262273607617!2d-73.98764922386655!3d40.74824937138816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b30eac9f%3A0xaca05ca48ab5ac2c!2s350%205th%20Ave%2C%20New%20York%2C%20NY%2010118%2C%20Stany%20Zjednoczone!5e0!3m2!1spl!2spl!4v1736976874532!5m2!1spl!2spl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
