<app-page-title></app-page-title>

<!-- Tours -->
<app-home-tours></app-home-tours>

<!-- Destination -->
<app-home-destinations></app-home-destinations>

<!-- Why Choose Us -->
<app-home-why-choose-us></app-home-why-choose-us>

<!-- Testimonials -->
<app-home-testimonials></app-home-testimonials>

<!-- Updates -->
<section *ngIf="latestArticles && latestArticles.length > 0" class="section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">

    <app-home-header-section [headerTitle]="'Updates'" [headerSubtitle]="'Latest Travel Guide'"></app-home-header-section>

    <div class="grid grid-cols-2 grid-rows-2 gap-x-[30px] gap-y-10">
      <app-updates-card *ngFor="let article of latestArticles" [article]="article"></app-updates-card>
    </div>
  </div>
</section>


<!-- Logos -->
<app-home-logos></app-home-logos>
