<section class="section-block-spacing-top section-block-spacing-bottom bg-surface">
  <div class="custom-container">
    <app-home-header-section [headerTitle]="'Features'" [headerSubtitle]="'Why Choose Us'"></app-home-header-section>

    <div class="grid grid-cols-3 grid-rows-2 gap-x-[30px] gap-y-6">
      <div class="bg-white p-[30px]">
        <img class="mb-5" [src]="cheapRatesIconUrl" alt="Cheap rates icon">
        <h6 class="font-workSans font-bold text h6 text-heading mb-1">Cheap Rates</h6>
        <span class="font-light text-body text-heading opacity-60">Credibly target visionary portals rather than prospective human capital.</span>
      </div>

      <div class="bg-white p-[30px]">
        <img class="mb-5" [src]="bestTravelPlanIconUrl" alt="Best travel plan icon">
        <h6 class="font-workSans font-bold text h6 text-heading mb-1">Best Travel Plan</h6>
        <span class="font-light text-body text-heading opacity-60">Credibly target visionary portals rather than prospective human capital.</span>
      </div>

      <div class="bg-white p-[30px]">
        <img class="mb-5" [src]="easyQuickBookingIconUrl" alt="Easy and quick booking icon">
        <h6 class="font-workSans font-bold text h6 text-heading mb-1">Easy & Quick Booking</h6>
        <span class="font-light text-body text-heading opacity-60">Credibly target visionary portals rather than prospective human capital.</span>
      </div>

      <div class="bg-white p-[30px]">
        <img class="mb-5" [src]="handPickedTourIconUrl" alt="Hand-picked tour icon">
        <h6 class="font-workSans font-bold text h6 text-heading mb-1">Hand-picked Tour</h6>
        <span class="font-light text-body text-heading opacity-60">Credibly target visionary portals rather than prospective human capital.</span>
      </div>

      <div class="bg-white p-[30px]">
        <img class="mb-5" [src]="privateGuideIconUrl" alt="Private guide icon">
        <h6 class="font-workSans font-bold text h6 text-heading mb-1">Private Guide</h6>
        <span class="font-light text-body text-heading opacity-60">Credibly target visionary portals rather than prospective human capital.</span>
      </div>

      <div class="bg-white p-[30px]">
        <img class="mb-5" [src]="customerCareIconUrl" alt="Customer care icon">
        <h6 class="font-workSans font-bold text h6 text-heading mb-1">Customer Care 24/7</h6>
        <span class="font-light text-body text-heading opacity-60">Credibly target visionary portals rather than prospective human capital.</span>
      </div>
    </div>
  </div>
</section>
