<div class="flex justify-between">
  <div class="flex items-center gap-3">
    <span class="font-kaushan font-normal text-4xl text-heading">120+</span>
    <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">Total Destination</span>
  </div>

  <div class="flex items-center gap-3">
    <span class="font-kaushan font-normal text-4xl text-heading">500+</span>
    <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">Travel Packages</span>
  </div>

  <div class="flex items-center gap-3">
    <span class="font-kaushan font-normal text-4xl text-heading">12k+</span>
    <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">Total Travelers</span>
  </div>

  <div class="flex items-center gap-3">
    <span class="font-kaushan font-normal text-4xl text-heading">7k+</span>
    <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">Positive Reviews</span>
  </div>
</div>
