@if (type === 'text' || type === 'password') { @if (icon) {
<div class="relative">
  <i [ngClass]="[icon, iconCssClass, iconStyleClass]"></i>

  <input
    [ngClass]="[cssClass, styleClass]"
    [id]="id"
    [placeholder]="placeholder"
    [type]="type"
    [value]="value"
    [disabled]="disabled"
    (input)="handleInput($event)"
    (blur)="onTouched()"
  />
</div>

} @else {
<input
  [ngClass]="[cssClass, styleClass]"
  [id]="id"
  [placeholder]="placeholder"
  [type]="type"
  [value]="value"
  [disabled]="disabled"
  (input)="handleInput($event)"
  (blur)="onTouched()"
/>
} } @if (type === 'textarea') {
<textarea
  [ngClass]="[cssClass, styleClass]"
  [id]="id"
  [placeholder]="placeholder"
  [value]="value"
  [disabled]="disabled"
  (input)="handleInput($event)"
  (blur)="onTouched()"
></textarea>

}
