@if (type() === FormType.TEXT) {
  <input
    class="input"
    type="text"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    [placeholder]="(placeholderKey() | translate) || defaultPlaceholderText()"
    [ngClass]="[fullWidth() ? 'input--fullwidth' : '', 'input--' + size()]"
  />
}

@if (type() === FormType.TEXTAREA) {
  <textarea
    class="input input--textarea"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    [placeholder]="(placeholderKey() | translate) || defaultPlaceholderText()"
    [ngClass]="[fullWidth() ? 'input--fullwidth' : '', 'input--' + size()]"
  ></textarea>
}
