.input {
  border: 1px solid rgba(var(--color-primary--rgba), 0.1);
  border-radius: 8px;

  transition: border 200ms ease-in-out;

  &::placeholder {
    font-size: var(--text-body--size);
    line-height: var(--text-body--height);
    font-weight: 300;
    color: rgba(var(--color-primary--rgba), 0.4);
  }

  &:focus {
    border: 1px solid rgba(var(--color-secondary--rgba), 0.6);
    outline: none;
  }

  &--textarea {
    height: 160px;
  }

  &--small {
    padding: 10px;
  }

  &--medium {
    padding: 16px;
  }

  &--fullwidth {
    width: 100%;
  }
}
