<section class="home-section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">

    <app-home-header-section [alignment]="'center'" [headerTitle]="'Tours'" [headerSubtitle]="'Most Popular Tours'"></app-home-header-section>

    <div class="grid grid-cols-4 gap-[30px]">
      <app-home-tours-card *ngFor="let tour of tours" [tour]="tour"></app-home-tours-card>
    </div>

    <app-slider-pagination></app-slider-pagination>

    <app-section-divider></app-section-divider>

    <app-statistics-overview></app-statistics-overview>

  </div>
</section>
