<app-page-title></app-page-title>

<section class="home-section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">
    <div class="grid grid-cols-12 grid-rows-4 gap-x-[30px] gap-y-[30px]">
      <div class="relative col-start-1 col-span-3">
        <img class="w-[270px] h-[200px] object-cover" [src]="unitedKingdomImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">United Kingdom</h3>
        </div>

      </div>
      <div class="relative col-start-4 col-span-3">
        <img class="w-[270px] h-[200px] object-cover" [src]="turkeyImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">Turkey</h3>
        </div>
      </div>
      <div class="relative col-start-7 col-span-3">
        <img class="w-[270px] h-[200px] object-cover" [src]="switzerlandImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">Switzerland</h3>
        </div>
      </div>
      <div class="relative col-start-10 col-span-3 row-span-2">
        <img class="w-[270px] h-[430px] object-cover" [src]="franceImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">France</h3>
        </div>
      </div>
      <div class="relative col-start-1 col-span-4">
        <img class="w-[370px] h-[200px] object-cover" [src]="thailandImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">Thailand</h3>
        </div>
      </div>
      <div class="relative col-start-5 col-span-5">
        <img class="w-[469px] h-[200px] object-cover" [src]="newZealandImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">New Zealand</h3>
        </div>
      </div>
      <div class="relative col-start-1 col-span-3 row-span-2">
        <img class="w-[270px] h-[430px]" [src]="unitedArabEmiratesImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">United Arab Emirates</h3>
        </div>
      </div>
      <div class="relative col-start-4 col-span-3">
        <img class="w-[270px] h-[200px] object-cover" [src]="italyImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">Italy</h3>
        </div>
      </div>
      <div class="relative col-start-7 col-span-3">
        <img class="w-[270px] h-[200px] object-cover" [src]="bangladeshImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">Bangladesh</h3>
        </div>
      </div>
      <div class="relative col-start-10 col-span-3">
        <img class="w-[270px] h-[200px] object-cover" [src]="egyptImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">Egypt</h3>
        </div>
      </div>
      <div class="relative col-start-4 col-span-4">
        <img class="w-[370px] h-[200px] object-cover" [src]="indiaImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">India</h3>
        </div>
      </div>
      <div class="relative col-start-8 col-span-5">
        <img class="w-[469px] h-[200px] object-cover" [src]="argentinaImageUrl">

        <div class="absolute bottom-3 left-3">
          <span class="font-light text-bodySmall text-white">174,688 Travelers</span>
          <h3 class="font-kaushan font-normal text-normal text-white mt-2">United Kingdom</h3>
        </div>
      </div>
    </div>
  </div>
</section>
