.navbar {
  display: flex;
  gap: 1.5rem;

  &__menu-item {
    font-family: var(--text-body--size);
    line-height: var(--text-body--line);
    color: rgba(var(--color-primary--rgba), 0.8);
    font-weight: 400;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--color-secondary);
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    gap: 8px;
  }

  @media (min-width: 1200px) {
    gap: 2rem;
  }
}
