<nav>
  <ul class="navbar-menu">
    <li>
      <a class="menu-item" href="">Home</a>
    </li>

    <li>
      <a class="menu-item" href="">About</a>
    </li>

    <li>
      <a class="menu-item" href="">Tours</a>
    </li>

    <li>
      <a class="menu-item" href="">Destination</a>
    </li>

    <li>
      <a class="menu-item" href="">Blog</a>
    </li>

    <li>
      <a class="menu-item" href="">Pages</a>
    </li>

    <li>
      <a class="menu-item" [routerLink]="['/contact-us']">Contact</a>
    </li>
  </ul>
</nav>
