<h3>Hi {{ email }}</h3>

<p>Thank you for subscribing to our newsletter. If you're interested in receiving the latest updates from the world of travel, click the link below to activate your subscription.</p>

<a href="http://localhost:4200/newsletter-activation?email={{ email }}&token={{ token }}" target="_blank" style="background-color: #FC5056; color: white; padding: 6px 12px; text-decoration: none; border-radius: 8px; display: inline-block; font-size: 14px; text-align: center;">Activate</a>

<p>If you're not interested, simply ignore this message.</p>

<p>
    <strong>
        Best regards, <br>
        The Eterna Travel Co. Team
    </strong>
</p>