<header>
  <div class="flex justify-between items-center font-inter font-regular text-xs text-headerTextColor text-opacity-80 bg-headerBg px-10 py-2">
    <div>
      <span>+1 (555) 123-4567</span>
      <span class="px-3">|</span>
      <span>info@eternatravelco.com</span>
    </div>

    <div class="flex">
      <ul class="flex gap-3 items-center">
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <span class="iconify" data-icon="fa-brands:facebook"></span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <span class="iconify" data-icon="fa-brands:instagram"></span>
          </a>
        </li>
        <li>
          <a href="https://x.com" target="_blank">
            <span class="iconify" data-icon="fa-brands:twitter"></span>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com" target="_blank">
            <span class="iconify" data-icon="fa-brands:linkedin"></span>
          </a>
        </li>
      </ul>

      <span class="px-3">|</span>

      <div class="relative" (mouseenter)="showDropdown(true)" (mouseleave)="hideDropdown(false)">
        <div class="flex items-center gap-3">
          <span>{{ selectedCurrency }}</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>

        <div class="absolute left-0 px-3 py-2 border text-headerTextColor bg-headerBg rounded shadow-lg z-10 cursor-pointer" [ngClass]="{ 'block': isDropdownVisible, 'hidden': !isDropdownVisible }">
          <ul>
            <li (click)="selectCurrency('USD')">USD</li>
            <li (click)="selectCurrency('EUR')">EUR</li>
            <li (click)="selectCurrency('GBP')">GBP</li>
            <li (click)="selectCurrency('PLN')">PLN</li>
          </ul>
        </div>

      </div>

    </div>
  </div>
  <div class="flex items-center bg-white px-10 py-4">
    <div class="flex items-center gap-2">
      <img class="w-6 h-6" [src]="logoUrl" alt="Logo">

      <h2 class="font-fugaz mt-1 text-lg">Eterna Travel Co.</h2>
    </div>

    <app-navbar class="ml-20"></app-navbar>

    <div class="flex justify-between items-center gap-2 ml-auto">
      <div>
        <ul class="flex font-workSans font-medium text-headerTextColor text-opacity-80 gap-5">
          <li>
            <span class="iconify" data-icon="fa-solid:search"></span>
          </li>
          <li>
            <span class="iconify" data-icon="fa-solid:user"></span>
          </li>
        </ul>
      </div>

      <div>
        <ul class="flex font-workSans font-medium text-headerTextColor text-opacity-80">
          <li>
            <a class="hover:text-textRed duration-300" routerLink="login">Login</a>
          </li>

          <span class="px-1">/</span>

          <li>
            <a class="hover:text-textRed duration-300" routerLink="register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
