<div class="grid grid-cols-3 gap-[30px]">
  <div class="contact-card">
    <img class="icon" [src]="mapPinIconUrl" alt="Location icon">

    <div class="flex flex-col">
      <span class="card-title">Location</span>
      <span class="card-text">350 Fifth Avenue, NY 10118, USA</span>
    </div>
  </div>

  <div class="contact-card">
    <img class="icon" [src]="phoneCallIconUrl">

    <div class="flex flex-col">
      <span class="card-title">Phone</span>
      <span class="card-text">+1 (555) 123-4567</span>
    </div>
  </div>

  <div class="contact-card">
    <img class="icon" [src]="emailIconUrl">

    <div class="flex flex-col">
      <span class="card-title">Email</span>
      <span class="card-text">info@eternatravelco.com</span>
    </div>
  </div>
</div>
