<form class="p-[30px] bg-surface mb-[30px]">
  <div class="mb-[30px]">
    <h6 class="font-workSans font-bold text-h6 text-heading mb-[13px]">Filter By</h6>

    <div class="relative w-full h-[5px] bg-heading bg-opacity-10 rounded-lg">
      <div class="w-[68px] h-[5px] bg-brandPrimary rounded-lg">
        <div class="w-3 h-3 bg-brandPrimary rounded-full ml-[68px]"></div>
      </div>
    </div>

    <div class="flex justify-between mt-2 mb-4">
      <span class="font-normal text-body text-heading opacity-80">$0.00</span>
      <h6 class="font-workSans font-bold text-heading text-h6">$150.00</h6>
    </div>
  </div>

  <div>
    <div class="bg-surface mb-[30px]">
      <h6 class="font-workSans font-bold text-h6 text-heading mb-3">Categories</h6>

      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-[6px]">
          <input id="adventure" type="checkbox">
          <label for="adventure" class="font-light text-body text-heading opacity-60">Adventure</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="beaches" type="checkbox">
          <label for="beaches" class="font-light text-body text-heading opacity-60">Beaches</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="boat-tours" type="checkbox">
          <label for="boat-tours" class="font-light text-body text-heading opacity-60">Boat Tours</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="city-tours" type="checkbox">
          <label for="city-tours" class="font-light text-body text-heading opacity-60">City Tours</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="food" type="checkbox">
          <label for="food" class="font-light text-body text-heading opacity-60">Food</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="hiking" type="checkbox">
          <label for="hiking" class="font-light text-body text-heading opacity-60">Hiking</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="honeymoon" type="checkbox">
          <label for="honeymoon" class="font-light text-body text-heading opacity-60">Honeymoon</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="museum-tours" type="checkbox">
          <label for="museum-tours" class="font-light text-body text-heading opacity-60">Museum Tours</label>
        </div>
      </div>
    </div>

    <div class="bg-surface mb-[30px]">
      <h6 class="font-workSans font-bold text-h6 text-heading mb-3">Destinations</h6>

      <div>
        <span class="font-normal text-base text-heading">Africa</span>

        <div class="flex flex-col gap-[6px] mt-2">
          <div class="flex items-center gap-[6px]">
            <input id="morocco" type="checkbox">
            <label for="morocco" class="font-light text-body text-heading opacity-60">Morocco</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="tanzania" type="checkbox">
            <label for="tanzania" class="font-light text-body text-heading opacity-60">Tanzania</label>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <span class="font-normal text-base text-heading">America</span>

        <div class="flex flex-col gap-[6px] mt-2">
          <div class="flex items-center gap-[6px]">
            <input id="argentina" type="checkbox">
            <label for="argentina" class="font-light text-body text-heading opacity-60">Argentina</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="canada" type="checkbox">
            <label for="canada" class="font-light text-body text-heading opacity-60">Canada</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="colombia" type="checkbox">
            <label for="colombia" class="font-light text-body text-heading opacity-60">Colombia</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="costa-rica" type="checkbox">
            <label for="costa-rica" class="font-light text-body text-heading opacity-60">Costa Rica</label>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <span class="font-normal text-base text-heading">Asia</span>

        <div class="flex flex-col gap-[6px] mt-2">
          <div class="flex items-center gap-[6px]">
            <input id="cambodia" type="checkbox">
            <label for="cambodia" class="font-light text-body text-heading opacity-60">Cambodia</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="japan" type="checkbox">
            <label for="japan" class="font-light text-body text-heading opacity-60">Japan</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="nepal" type="checkbox">
            <label for="nepal" class="font-light text-body text-heading opacity-60">Nepal</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="thailand" type="checkbox">
            <label for="thailand" class="font-light text-body text-heading opacity-60">Thailand</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="vietnam" type="checkbox">
            <label for="vietnam" class="font-light text-body text-heading opacity-60">Vietnam</label>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <span class="font-normal text-base text-heading">Europe</span>

        <div class="flex flex-col gap-[6px] mt-2">
          <div class="flex items-center gap-[6px]">
            <input id="france" type="checkbox">
            <label for="france" class="font-light text-body text-heading opacity-60">France</label>
          </div>

          <div class="flex items-center gap-[6px]">
            <input id="greece" type="checkbox">
            <label for="greece" class="font-light text-body text-heading opacity-60">Greece</label>
          </div>

        </div>
      </div>
    </div>

    <div class="bg-surface">
      <h6 class="font-workSans font-bold text-h6 text-heading mb-3">Reviews</h6>

      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-[6px]">
          <input id="five-stars" type="checkbox">
          <label for="five-stars" class="font-light text-body text-heading opacity-60">5 Stars</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="four-stars" type="checkbox">
          <label for="four-stars" class="font-light text-body text-heading opacity-60">4 Stars & Up</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="three-stars" type="checkbox">
          <label for="three-stars" class="font-light text-body text-heading opacity-60">3 Stars & Up</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="two-stars" type="checkbox">
          <label for="two-stars" class="font-light text-body text-heading opacity-60">2 Stars & Up</label>
        </div>

        <div class="flex items-center gap-[6px]">
          <input id="one-star" type="checkbox">
          <label for="one-star" class="font-light text-body text-heading opacity-60">1 Stars & Up</label>
        </div>
      </div>
    </div>
  </div>
</form>
