<section class="section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">
    <app-home-header-section [headerTitle]="'Team'" [headerSubtitle]="'Our Amazing Team'"></app-home-header-section>

    <div class="flex justify-between gap-8">

      <div>
        <img class="mb-6" [src]="travelerImageUrl1" alt="A young smiling man hiking in the mountains">
        <h6 class="font-workSans font-bold text-h6 text-heading mb-1">Antoni Shkraba</h6>
        <span class="font-light text-body text-heading opacity-60">Founder & Director</span>
      </div>

      <div>
        <img class="mb-6" [src]="travelerImageUrl2" alt="A young man with a backpack and a camera hanging around his neck">
        <h6 class="font-workSans font-bold text-h6 text-heading mb-1">Andrew Davie</h6>
        <span class="font-light text-body text-heading opacity-60">Chief Operating Officer</span>
      </div>

      <div>
        <img class="mb-6" [src]="travelerImageUrl3" alt="A smiling man in sunglasses with binoculars hanging around his neck, sitting on a swing">
        <h6 class="font-workSans font-bold text-h6 text-heading mb-1">Orlando Diggs</h6>
        <span class="font-light text-body text-heading opacity-60">Director - Hotels</span>
      </div>

      <div>
        <img class="mb-6" [src]="travelerImageUrl4" alt="A young smiling woman in sunglasses holding a coffee in a plastic cup and talking on the phone">
        <h6 class="font-workSans font-bold text-h6 text-heading mb-1">Tamara Bellis</h6>
        <span class="font-light text-body text-heading opacity-60">Customer Support</span>
      </div>

      <div>
        <img class="mb-6" [src]="travelerImageUrl5" alt="A smiling middle-aged man with a digital camera against the backdrop of the city">
        <h6 class="font-workSans font-bold text-h6 text-heading mb-1">Philip Martin</h6>
        <span class="font-light text-body text-heading opacity-60">Chief Executive</span>
      </div>

    </div>

    <app-slider-pagination></app-slider-pagination>
  </div>
</section>
