<section class="section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">
    <div class="grid grid-cols-12">

      <div class="relative col-start-1 col-span-6">
        <app-why-choose-us-image-section [sectionType]="'home'"></app-why-choose-us-image-section>
      </div>

      <div class="col-start-8 col-span-4">
        <app-home-header-section [alignment]="'left'" [headerTitle]="'Why Choose Us'" [headerSubtitle]="'Our Experiences Meet High Quality Standards'"></app-home-header-section>

        <p class="font-light text-body text-heading opacity-60">Holisticly optimize proactive strategic theme areas rather than effective manufactured products create.</p>

        <div class="grid grid-cols-2 grid-rows-2 gap-x-[29px] gap-y-3 mt-[25px] mb-9">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 fill-brandPrimary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <title>Check icon</title>
              <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
            </svg>
            <span class="font-workSans font-semibold text-subtitle text-heading">Travel Plan</span>
          </div>

          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 fill-brandPrimary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <title>Check icon</title>
              <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
            </svg>
            <span class="font-workSans font-semibold text-subtitle text-heading">Cheap Rates</span>
          </div>

          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 fill-brandPrimary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <title>Check icon</title>
              <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
            </svg>
            <span class="font-workSans font-semibold text-subtitle text-heading">Hand-picked Tour</span>
          </div>

          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 fill-brandPrimary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <title>Check icon</title>
              <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
            </svg>
            <span class="font-workSans font-semibold text-subtitle text-heading">Private Guide</span>
          </div>

        </div>

        <button class="border border-heading border-opacity-40 rounded-lg px-10 py-5 hover:text-brandPrimary duration-300">Contact Us</button>
      </div>

    </div>

    <app-section-divider></app-section-divider>

    <app-home-header-section [headerTitle]="'Browse By Category'" [headerSubtitle]="'Pick A Tour Type'"></app-home-header-section>


    <app-home-browse-by-category></app-home-browse-by-category>

  </div>
</section>
