.card {
  &--no-margin {
    margin-bottom: 0;
  }

  &__title,
  &__subtitle {
    font-family: var(--font-workSans);
  }

  padding: 40px;
  background-color: #f7f8f9;

  @media (max-width: 992px) {
    margin-bottom: 30px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
  }

  &__title {
    font-weight: 600;
    font-size: var(--text-subtitle--size);
    line-height: var(--text-subtitle--line);
    color: var(--color-primary);
  }

  &__subtitle {
    font-weight: 300;
    font-size: var(--text-body--size);
    line-height: var(--text-body--line);
    color: rgba(var(--color-primary--rgba), 0.6);
  }
}
