<article class="mb-[46px]">
  <img class="w-[670px] h-[320px] object-cover" [src]="article.image.image" [alt]="article.image.alt">

  <div class="flex items-center mt-6 mb-1 font-light text-body text-heading opacity-60">
    <span>{{ article.datePosted }}</span>
    <span class="w-1 h-1 bg-heading rounded-full ml-7 mr-2"></span>
    <span>{{ article.user }}</span>
  </div>

  <a [routerLink]="['/blog', article.category.slug, article.slug ]" class="font-workSans font-bold text-h5 text-heading mb-3 hover:text-brandPrimary duration-300">{{ article.title }}</a>

  <p class="font-light text-body text-heading opacity-60 mb-4">{{ article.content }}</p>

  <a [routerLink]="['/blog', article.category.slug, article.slug]" class="inline-flex gap-4 items-center text-brandPrimary hover:text-heading duration-300">
    <span>Read more</span>
    <i class="fa-solid fa-arrow-right w-[13px] h-4"></i>
  </a>
</article>
