<div class="mb-[46px]">
  <img class="w-[670px] h-[320px]" [src]="">

  <div class="flex items-center mt-6 mb-1">
    <span class="font-light text-heading text-body opacity-60 mr-7"></span>
    <span class="w-1 h-1 bg-heading opacity-60 rounded-full mr-2"></span>
    <span class="font-light text-body text-heading opacity-60"></span>
  </div>

  <h5 class="font-workSans font-bold text-h5 text-heading mb-3"></h5>

  <p class="font-light text-body text-heading opacity-60 mb-4"></p>

  <div class="flex gap-4 items-center">
    <span class="font-normal text-brandPrimary">Read more</span>
    <i class="fa-solid fa-arrow-right w-[13px] h-4 text-brandPrimary"></i>
  </div>
</div>
