<div class="contact">
  <section class="section--spacing-bottom">
    <div class="contact__info">
      @for (card of contactCards; let i = $index; track $index) {
        <app-contact-card [card]="card" [isLast]="i === contactCards.length - 1" />
      }
    </div>
  </section>

  <section class="contact__touch">
    <div class="contact__form">
      <p class="contact__intro">{{ ('contact-us.any-question' | translate) || 'Have any question?' }}</p>
      <p class="contact__heading">{{ ('contact-us.get-in-touch' | translate) || 'Get in Touch' }}</p>

      <form [formGroup]="form">
        @for (option of contactFormOptions; track $index) {
          @if (option.type === FormOptionType.TEXT) {
            <input
              class="contact__input"
              [id]="option.formControlName"
              [formControlName]="option.formControlName"
              [placeholder]="(option.placeholderKey | translate) || option.defaultPlaceholderText"
            />
          } @else {
            <textarea
              class="contact__textarea"
              [id]="option.formControlName"
              [formControlName]="option.formControlName"
              [placeholder]="(option.placeholderKey | translate) || option.defaultPlaceholderText"
            ></textarea>
          }
        }
        <ui-button labelKey="core.send" defaultLabel="'Send'" (click)="add()" />
      </form>
    </div>
    <div class="contact__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.7578178989106!2d-73.98699532404558!3d40.745354235573096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a7e012f549%3A0x1f4b74f64db7d437!2s123%20Madison%20Ave%2C%20New%20York%2C%20NY%2010016%2C%20Stany%20Zjednoczone!5e0!3m2!1spl!2spl!4v1747402674958!5m2!1spl!2spl"
        class="w-full h-full"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>
</div>
