<form class="mt-4" [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">
  <div class="relative">
    <input formControlName="email" class="font-light text-bodySmall rounded-md px-10 py-3 w-full" type="text" placeholder="Enter email...">
    <svg class="absolute fill-heading w-4 h-4 top-1/2 left-4 transform -translate-y-1/2 opacity-20 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <title>Message icon</title>
      <path d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376l0 103.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z"/>
    </svg>
  </div>

  <ng-container *ngIf="(newsletterForm.get('email')?.touched || newsletterForm.get('email')?.dirty) && emailErrorMessages().length">
    <div class="font-light text-xs text-errorColor mt-2">
      <span class="block" *ngFor="let error of emailErrorMessages()">{{ error }}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="successMessage">
    <div class="text-xs text-successColor mt-1">
        <span class="block">{{ successMessage }}</span>
    </div>
  </ng-container>

  <button class="bg-brandPrimary rounded-md text-action font-normal text-white px-7 py-3 w-[107px] h-[40px] mt-2" [disabled]="!newsletterForm.valid" [ngClass]="{ 'opacity-50': !newsletterForm.valid }">Submit</button>

  <ng-container *ngIf="newsletterForm.errors?.['serverError']">
    <div class="text-xs text-errorColor mt-2">
      <span class="block">{{ newsletterForm.errors?.['serverError'] }}</span>
    </div>
  </ng-container>
</form>
