<form>
  <!--
  <div class="grid grid-cols-2 gap-[18px] mb-[14px]">
    <input type="text" class="input-field" placeholder="Your name">
    <input type="text" class="input-field" placeholder="Email address">
  </div>
  -->
  <div class="grid grid-rows-2 gap-[14px]  mb-[14px]">
    <input type="text" class="input-field" placeholder="Your name">
    <input type="text" class="input-field" placeholder="Email address">
  </div>

  <div class="mb-[14px]">
    <textarea class="input-field h-[160px] w-full" placeholder="Write something..."></textarea>
  </div>

  <div>
    <button class="bg-brandPrimary px-10 py-5 rounded-lg font-inter font-normal text-action text-white">Submit</button>
  </div>
</form>
