<app-page-title></app-page-title>

<!-- Tours -->
<div class="bg-white px-[135px] pb-[86px] pt-[135px]">
    <div>
      <div class="flex flex-col items-center gap-[42px]">
        <div class="flex flex-col items-center gap-[6px]">
          <div class="flex items-center w-full">
            <span class="flex-grow border-t-[1px] border-heading opacity-10"></span>
            <span class="font-kaushan font-normal text-2xl text-brandPrimary px-4">Tours</span>
            <span class="flex-grow border-t-[1px] border-heading opacity-10"></span>
          </div>

          <h3 class="font-workSans font-bold text-h3 text-heading">Most Popular Tours</h3>
        </div>

        <div class="grid grid-cols-4 gap-[30px]">
          <div class="flex flex-col">
            <div class="relative">
              <img class="w-[270px]" [src]="budapestImageUrl">
              <div class="absolute top-3 right-3">
                <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full">
                  <svg class="w-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4201 2.30494C10.1647 2.04944 9.86147 1.84676 9.52774 1.70848C9.19401 1.5702 8.8363 1.49902 8.47506 1.49902C8.11382 1.49902 7.75611 1.5702 7.42238 1.70848C7.08865 1.84676 6.78544 2.04944 6.53006 2.30494L6.00006 2.83494L5.47006 2.30494C4.95421 1.78909 4.25458 1.49929 3.52506 1.49929C2.79554 1.49929 2.09591 1.78909 1.58006 2.30494C1.06421 2.82078 0.774414 3.52042 0.774414 4.24994C0.774414 4.97945 1.06421 5.67909 1.58006 6.19494L2.11006 6.72494L6.00006 10.6149L9.89006 6.72494L10.4201 6.19494C10.6756 5.93956 10.8782 5.63634 11.0165 5.30261C11.1548 4.96888 11.226 4.61118 11.226 4.24994C11.226 3.88869 11.1548 3.53099 11.0165 3.19726C10.8782 2.86353 10.6756 2.56031 10.4201 2.30494V2.30494Z" stroke="#051036" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 bg-surface gap-[9px]">
              <div class="flex flex-col gap-2">
                <span class="font-inter font-light text-heading text-bodySmall opacity-60">Budapest, Hungary</span>
                <h6 class="font-workSans font-bold text-h6 text-heading">Wonders of the West Coast & Kimberley</h6>
              </div>

              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <div class="relative flex bg-brandPrimary rounded-lg px-2 py-1 gap-1">
                    <div class="relative w-[10px] flex items-center justify-center">
                      <svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="white"/>
                      </svg>
                    </div>

                    <span class="font-inter font-light text-caption text-white">4.8</span>

                  </div>

                  <span class="font-inter font-light text-bodySmall text-heading opacity-60">15 reviews</span>
                </div>

                <div class="flex items-center justify-center gap-1">
                  <svg class="w-[14px] mt-[1px]" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1681_2619)">
                      <path d="M6.99984 12.8334C10.2215 12.8334 12.8332 10.2217 12.8332 7.00008C12.8332 3.77842 10.2215 1.16675 6.99984 1.16675C3.77818 1.16675 1.1665 3.77842 1.1665 7.00008C1.1665 10.2217 3.77818 12.8334 6.99984 12.8334Z" stroke="#051036" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7 3.5V7L9.33333 8.16667" stroke="#051036" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_1681_2619">
                        <rect width="14" height="14" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>

                  <span class="font-inter font-light text-bodySmall text-heading opacity-60">7 days</span>
                </div>
              </div>

              <div class="border-t-[1px] border-heading opacity-10"></div>

              <div class="flex items-center justify-between">
                <span class="font-inter font-light text-heading text-caption opacity-60">Starting From</span>
                <span class="font-kaushan text-xl leading-[26px] font-normal text-heading">$520</span>
              </div>
            </div>
          </div>

          <div class="flex flex-col">
            <div class="relative">
              <img class="w-[270px]" [src]="londonImageUrl">
              <div class="absolute top-3 right-3">
                <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full">
                  <svg class="w-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4201 2.30494C10.1647 2.04944 9.86147 1.84676 9.52774 1.70848C9.19401 1.5702 8.8363 1.49902 8.47506 1.49902C8.11382 1.49902 7.75611 1.5702 7.42238 1.70848C7.08865 1.84676 6.78544 2.04944 6.53006 2.30494L6.00006 2.83494L5.47006 2.30494C4.95421 1.78909 4.25458 1.49929 3.52506 1.49929C2.79554 1.49929 2.09591 1.78909 1.58006 2.30494C1.06421 2.82078 0.774414 3.52042 0.774414 4.24994C0.774414 4.97945 1.06421 5.67909 1.58006 6.19494L2.11006 6.72494L6.00006 10.6149L9.89006 6.72494L10.4201 6.19494C10.6756 5.93956 10.8782 5.63634 11.0165 5.30261C11.1548 4.96888 11.226 4.61118 11.226 4.24994C11.226 3.88869 11.1548 3.53099 11.0165 3.19726C10.8782 2.86353 10.6756 2.56031 10.4201 2.30494V2.30494Z" stroke="#051036" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 bg-surface gap-[9px]">
              <div class="flex flex-col gap-2">
                <span class="font-inter font-light text-heading text-bodySmall opacity-60">London, United Kingdom</span>
                <h6 class="font-workSans font-bold text-h6 text-heading">Windsor Castle, and Bath from London</h6>
              </div>

              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <div class="relative flex bg-brandPrimary rounded-lg px-2 py-1 gap-1">
                    <div class="relative w-[10px] flex items-center justify-center">
                      <svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="white"/>
                      </svg>
                    </div>

                    <span class="font-inter font-light text-caption text-white">4.8</span>

                  </div>

                  <span class="font-inter font-light text-bodySmall text-heading opacity-60">15 reviews</span>
                </div>

                <div class="flex items-center justify-center gap-1">
                  <svg class="w-[14px] mt-[1px]" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1681_2619)">
                      <path d="M6.99984 12.8334C10.2215 12.8334 12.8332 10.2217 12.8332 7.00008C12.8332 3.77842 10.2215 1.16675 6.99984 1.16675C3.77818 1.16675 1.1665 3.77842 1.1665 7.00008C1.1665 10.2217 3.77818 12.8334 6.99984 12.8334Z" stroke="#051036" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7 3.5V7L9.33333 8.16667" stroke="#051036" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_1681_2619">
                        <rect width="14" height="14" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>

                  <span class="font-inter font-light text-bodySmall text-heading opacity-60">7 days</span>
                </div>
              </div>

              <div class="border-t-[1px] border-heading opacity-10"></div>

              <div class="flex items-center justify-between">
                <span class="font-inter font-light text-heading text-caption opacity-60">Starting From</span>
                <span class="font-kaushan text-xl leading-[26px] font-normal text-heading">$350</span>
              </div>
            </div>
          </div>

          <div class="flex flex-col">
            <div class="relative">
              <img class="w-[270px]" [src]="sydneyImageUrl">
              <div class="absolute top-3 right-3">
                <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full">
                  <svg class="w-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4201 2.30494C10.1647 2.04944 9.86147 1.84676 9.52774 1.70848C9.19401 1.5702 8.8363 1.49902 8.47506 1.49902C8.11382 1.49902 7.75611 1.5702 7.42238 1.70848C7.08865 1.84676 6.78544 2.04944 6.53006 2.30494L6.00006 2.83494L5.47006 2.30494C4.95421 1.78909 4.25458 1.49929 3.52506 1.49929C2.79554 1.49929 2.09591 1.78909 1.58006 2.30494C1.06421 2.82078 0.774414 3.52042 0.774414 4.24994C0.774414 4.97945 1.06421 5.67909 1.58006 6.19494L2.11006 6.72494L6.00006 10.6149L9.89006 6.72494L10.4201 6.19494C10.6756 5.93956 10.8782 5.63634 11.0165 5.30261C11.1548 4.96888 11.226 4.61118 11.226 4.24994C11.226 3.88869 11.1548 3.53099 11.0165 3.19726C10.8782 2.86353 10.6756 2.56031 10.4201 2.30494V2.30494Z" stroke="#051036" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 bg-surface gap-[9px]">
              <div class="flex flex-col gap-2">
                <span class="font-inter font-light text-heading text-bodySmall opacity-60">Sydney, Australia</span>
                <h6 class="font-workSans font-bold text-h6 text-heading">Enchanting Great Barrier Reef, Aquatic Wonderland</h6>
              </div>

              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <div class="relative flex bg-brandPrimary rounded-lg px-2 py-1 gap-1">
                    <div class="relative w-[10px] flex items-center justify-center">
                      <svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="white"/>
                      </svg>
                    </div>

                    <span class="font-inter font-light text-caption text-white">4.8</span>

                  </div>

                  <span class="font-inter font-light text-bodySmall text-heading opacity-60">15 reviews</span>
                </div>

                <div class="flex items-center justify-center gap-1">
                  <svg class="w-[14px] mt-[1px]" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1681_2619)">
                      <path d="M6.99984 12.8334C10.2215 12.8334 12.8332 10.2217 12.8332 7.00008C12.8332 3.77842 10.2215 1.16675 6.99984 1.16675C3.77818 1.16675 1.1665 3.77842 1.1665 7.00008C1.1665 10.2217 3.77818 12.8334 6.99984 12.8334Z" stroke="#051036" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7 3.5V7L9.33333 8.16667" stroke="#051036" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_1681_2619">
                        <rect width="14" height="14" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>

                  <span class="font-inter font-light text-bodySmall text-heading opacity-60">7 days</span>
                </div>
              </div>

              <div class="border-t-[1px] border-heading opacity-10"></div>

              <div class="flex items-center justify-between">
                <span class="font-inter font-light text-heading text-caption opacity-60">Starting From</span>
                <span class="font-kaushan text-xl leading-[26px] font-normal text-heading">$450</span>
              </div>
            </div>
          </div>

          <div class="flex flex-col">
            <div class="relative">
              <img class="w-[270px]" [src]="muscatImageUrl">
              <div class="absolute top-3 right-3">
                <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full">
                  <svg class="w-3" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4201 2.30494C10.1647 2.04944 9.86147 1.84676 9.52774 1.70848C9.19401 1.5702 8.8363 1.49902 8.47506 1.49902C8.11382 1.49902 7.75611 1.5702 7.42238 1.70848C7.08865 1.84676 6.78544 2.04944 6.53006 2.30494L6.00006 2.83494L5.47006 2.30494C4.95421 1.78909 4.25458 1.49929 3.52506 1.49929C2.79554 1.49929 2.09591 1.78909 1.58006 2.30494C1.06421 2.82078 0.774414 3.52042 0.774414 4.24994C0.774414 4.97945 1.06421 5.67909 1.58006 6.19494L2.11006 6.72494L6.00006 10.6149L9.89006 6.72494L10.4201 6.19494C10.6756 5.93956 10.8782 5.63634 11.0165 5.30261C11.1548 4.96888 11.226 4.61118 11.226 4.24994C11.226 3.88869 11.1548 3.53099 11.0165 3.19726C10.8782 2.86353 10.6756 2.56031 10.4201 2.30494V2.30494Z" stroke="#051036" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="flex flex-col p-4 bg-surface gap-[9px]">
              <div class="flex flex-col gap-2">
                <span class="font-inter font-light text-heading text-bodySmall opacity-60">Muscat, Oman</span>
                <h6 class="font-workSans font-bold text-h6 text-heading">Ancient Heritage and Desert Adventures</h6>
              </div>

              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <div class="relative flex bg-brandPrimary rounded-lg px-2 py-1 gap-1">
                    <div class="relative w-[10px] flex items-center justify-center">
                      <svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 7.635L8.09 9.5L7.27 5.985L10 3.62L6.405 3.31L5 0L3.595 3.31L0 3.62L2.725 5.985L1.91 9.5L5 7.635Z" fill="white"/>
                      </svg>
                    </div>

                    <span class="font-inter font-light text-caption text-white">4.8</span>

                  </div>

                  <span class="font-inter font-light text-bodySmall text-heading opacity-60">15 reviews</span>
                </div>

                <div class="flex items-center justify-center gap-1">
                  <svg class="w-[14px] mt-[1px]" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1681_2619)">
                      <path d="M6.99984 12.8334C10.2215 12.8334 12.8332 10.2217 12.8332 7.00008C12.8332 3.77842 10.2215 1.16675 6.99984 1.16675C3.77818 1.16675 1.1665 3.77842 1.1665 7.00008C1.1665 10.2217 3.77818 12.8334 6.99984 12.8334Z" stroke="#051036" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7 3.5V7L9.33333 8.16667" stroke="#051036" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_1681_2619">
                        <rect width="14" height="14" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>

                  <span class="font-inter font-light text-bodySmall text-heading opacity-60">7 days</span>
                </div>
              </div>

              <div class="border-t-[1px] border-heading opacity-10"></div>

              <div class="flex items-center justify-between">
                <span class="font-inter font-light text-heading text-caption opacity-60">Starting From</span>
                <span class="font-kaushan text-xl leading-[26px] font-normal text-heading">$599</span>
              </div>
            </div>
          </div>
        </div>

        <div class="flex gap-2">
          <div class="w-2 h-2 bg-heading rounded-full opacity-10"></div>
          <div class="w-2 h-2 bg-brandPrimary rounded-full"></div>
          <div class="w-2 h-2 bg-heading rounded-full opacity-10"></div>
          <div class="w-2 h-2 bg-heading rounded-full opacity-10"></div>
        </div>
      </div>
    </div>

    <div class="w-full border-t-[1px] border-heading opacity-10 mt-[48px]"></div>

    <div class="mt-12">
      <div class="flex justify-between">
        <div class="flex items-center gap-3">
          <span class="font-kaushan font-normal text-4xl text-heading">120+</span>
          <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">Total Destination</span>
        </div>

        <div class="flex items-center gap-3">
          <span class="font-kaushan font-normal text-4xl text-heading">500+</span>
          <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">Travel Packages</span>
        </div>

        <div class="flex items-center gap-3">
          <span class="font-kaushan font-normal text-4xl text-heading">12k+</span>
          <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">Total Travelers</span>
        </div>

        <div class="flex items-center gap-3">
          <span class="font-kaushan font-normal text-4xl text-heading">7k+</span>
          <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">Positive Reviews</span>
        </div>
      </div>
    </div>
</div>

<!-- Destination -->
<div class="flex flex-col px-[135px] py-[86px] gap-12 bg-surface">
  <div class="flex flex-col items-center gap-[6px]">
      <div class="flex">
        <span class="border-t-2 border-black"></span>
        <span class="font-kaushan font-normal text-2xl text-brandPrimary px-4">Destination</span>
        <span class="border-t-2 border-black"></span>
      </div>

      <div>
        <h3 class="font-workSans font-bold text-h3 text-heading">Top Attractions Destinations</h3>
      </div>
  </div>

  <div class="grid grid-cols-4 gap-6">

    <div class="relative flex flex-col">
      <div class="absolute left-3 bottom-3 flex flex-col gap-2">
        <span class="font-inter font-light text-bodySmall text-white ml-[3px]">174,688 Travelers</span>
        <span class="font-kaushan font-normal text-xl text-white z-10">United Kingdom</span>
      </div>
      <img class="h-[200px] object-cover" [src]="unitedKingdomImageUrl">
    </div>

    <div class="relative flex flex-col">
      <div class="absolute left-3 bottom-3 flex flex-col gap-2">
        <span class="font-inter font-light text-bodySmall text-white ml-[3px]">174,688 Travelers</span>
        <span class="font-kaushan font-normal text-xl text-white">Turkey</span>
      </div>
      <img class="h-[200px] object-cover" [src]="turkeyImageUrl">
    </div>

    <div class="relative flex flex-col">
      <div class="absolute left-3 bottom-3 flex flex-col gap-2">
        <span class="font-inter font-light text-bodySmall text-white ml-[3px]">174,688 Travelers</span>
        <span class="font-kaushan font-normal text-xl text-white">Switzerland</span>
      </div>
      <img class="h-[200px] object-cover" [src]="switzerlandImageUrl">
    </div>

    <div class="relative flex flex-col row-span-2">
      <div class="absolute left-3 bottom-3 flex flex-col gap-2">
        <span class="font-inter font-light text-bodySmall text-white ml-[3px]">174,688 Travelers</span>
        <span class="font-kaushan font-normal text-xl text-white">France</span>
      </div>
      <img class="h-[430px] object-cover" [src]="franceImageUrl">
    </div>

    <div class="col-span-3 grid grid-cols-2 gap-6">
      <div class="relative flex flex-col">
        <div class="absolute left-3 bottom-3 flex flex-col gap-2">
          <span class="font-inter font-light text-bodySmall text-white ml-[3px]">174,688 Travelers</span>
          <span class="font-kaushan font-normal text-xl text-white">Thailand</span>
        </div>
        <img class="h-[200px] object-cover" [src]="thailandImageUrl">
      </div>

      <div class="relative flex flex-col">
        <div class="absolute left-3 bottom-3 flex flex-col gap-2">
          <span class="font-inter font-light text-bodySmall text-white ml-[3px]">174,688 Travelers</span>
          <span class="font-kaushan font-normal text-xl text-white">New Zealand</span>
        </div>
        <img class="h-[200px] object-cover" [src]="newZealandImageUrl">
      </div>
    </div>
  </div>
</div>

<!-- Why Choose Us -->
<div class="flex px-[135px] py-[86px] bg-white">
  Why Choose Us
</div>

<!-- Browse By Category -->
<div class="flex px-[135px] py-[86px] justify-center bg-white">
  <div class="flex flex-col gap-12 w-full">
    <div class="flex items-center flex-col gap-2">
      <div class="flex items-center p-4">
        <span class="font-kaushan font-normal text-2xl text-brandPrimary px-4 whitespace-nowrap">Browse By Category</span>
      </div>
      <h3 class="font-workSans font-bold text-h3 text-heading">Pick A Tour Type</h3>
    </div>

    <div class="grid grid-cols-6 gap-[30px]">
      <div class="border border-heading border-opacity-10 px-4 py-6">
        <div class="flex flex-col gap-4">
          <img class="w-10" [src]="adventureIconUrl">

          <div class="flex flex-col gap-4">
            <div class="flex flex-col">
              <h6 class="font-workSans font-bold text-h6 text-heading">Adventure</h6>
              <span class="font-inter font-light text-body text-heading opacity-60">10 Tours+</span>
            </div>
            <div class="flex items-center gap-2">
              <span class="font-inter font-light text-body text-heading opacity-60">From</span>
              <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
            </div>
          </div>
        </div>
      </div>

      <div class="border border-heading border-opacity-10 px-4 py-6">
        <div class="flex flex-col gap-4">
          <img class="w-10" [src]="beachesIconUrl">

          <div class="flex flex-col gap-4">
            <div class="flex flex-col">
              <h6 class="font-workSans font-bold text-h6 text-heading">Beaches</h6>
              <span class="font-inter font-light text-body text-heading opacity-60">10 Tours+</span>
            </div>
            <div class="flex items-center gap-2">
              <span class="font-inter font-light text-body text-heading opacity-60">From</span>
              <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
            </div>
          </div>
        </div>
      </div>

      <div class="border border-heading border-opacity-10 px-4 py-6">
        <div class="flex flex-col gap-4">
          <img class="w-10" [src]="boatToursIconUrl">

          <div class="flex flex-col gap-4">
            <div class="flex flex-col">
              <h6 class="font-workSans font-bold text-h6 text-heading">Boat Tours</h6>
              <span class="font-inter font-light text-body text-heading opacity-60">10 Tours+</span>
            </div>
            <div class="flex items-center gap-2">
              <span class="font-inter font-light text-body text-heading opacity-60">From</span>
              <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
            </div>
          </div>
        </div>
      </div>

      <div class="border border-heading border-opacity-10 px-4 py-6">
        <div class="flex flex-col gap-4">
          <img class="w-10" [src]="cityToursIconUrl">

          <div class="flex flex-col gap-4">
            <div class="flex flex-col">
              <h6 class="font-workSans font-bold text-h6 text-heading">City Tours</h6>
              <span class="font-inter font-light text-body text-heading opacity-60">10 Tours+</span>
            </div>
            <div class="flex items-center gap-2">
              <span class="font-inter font-light text-body text-heading opacity-60">From</span>
              <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
            </div>
          </div>
        </div>
      </div>

      <div class="border border-heading border-opacity-10 px-4 py-6">
        <div class="flex flex-col gap-4">
          <img class="w-10" [src]="foodIconUrl">

          <div class="flex flex-col gap-4">
            <div class="flex flex-col">
              <h6 class="font-workSans font-bold text-h6 text-heading">Food</h6>
              <span class="font-inter font-light text-body text-heading opacity-60">10 Tours+</span>
            </div>
            <div class="flex items-center gap-2">
              <span class="font-inter font-light text-body text-heading opacity-60">From</span>
              <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
            </div>
          </div>
        </div>
      </div>

      <div class="border border-heading border-opacity-10 px-4 py-6">
        <div class="flex flex-col gap-4">
          <img class="w-10" [src]="hikingIconUrl">

          <div class="flex flex-col gap-4">
            <div class="flex flex-col">
              <h6 class="font-workSans font-bold text-h6 text-heading">Hiking</h6>
              <span class="font-inter font-light text-body text-heading opacity-60">10 Tours+</span>
            </div>
            <div class="flex items-center gap-2">
              <span class="font-inter font-light text-body text-heading opacity-60">From</span>
              <span class="font-kaushan font-normal text-xl leading-[26px] text-brandPrimary">$250</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="flex justify-center gap-2">
      <div class="bg-heading opacity-10 w-2 h-2 rounded-full"></div>
      <div class="bg-brandPrimary w-2 h-2 rounded-full"></div>
      <div class="bg-heading opacity-10 w-2 h-2 rounded-full"></div>
      <div class="bg-heading opacity-10 w-2 h-2 rounded-full"></div>
    </div>
  </div>
</div>

<!-- Testimonials -->
<div class="flex px-[135px] py-[86px] bg-surface">
  Testimonials
</div>

<!-- Updates -->
<div class="flex px-[135px] py-[86px] justify-center bg-white">
  <div class="flex flex-col gap-12 w-full">
    <div class="flex flex-col items-center gap-2">
      <div class="flex">
        <span></span>
        <span class="font-kaushan font-normal text-2xl text-brandPrimary px-4">Updates</span>
        <span></span>
      </div>

      <h3 class="font-workSans font-bold text-heading text-h3">Latest Travel Guide</h3>
    </div>

    <div class="grid grid-cols-2 grid-rows-2 gap-x-[30px] gap-y-10">
      <div class="flex items-center gap-[20px]">
        <img class="w-[170px]" [src]="updatesImageUrl1">
        <div class="flex flex-col gap-2">
          <div class="flex items-center">
            <span class="font-inter font-light text-body text-heading opacity-60 mr-[13px]">July, 13, 2023</span>
            <div class="p-3">
              <div class="bg-heading w-1 h-1 rounded-full opacity-60"></div>
            </div>
            <span class="font-inter font-light text-body text-heading opacity-60">Admin</span>
          </div>
          <h6 class="font-workSans font-bold text-h6 text-heading">The Impact of Covid-19 on travel & tourism industry</h6>
        </div>
      </div>

      <div class="flex items-center gap-[20px]">
        <img class="w-[170px]" [src]="updatesImageUrl2">
        <div class="flex flex-col gap-2">
          <div class="flex items-center">
            <span class="font-inter font-light text-body text-heading opacity-60 mr-[13px]">July, 13, 2023</span>
            <div class="p-3">
              <div class="bg-heading w-1 h-1 rounded-full opacity-60"></div>
            </div>
            <span class="font-inter font-light text-body text-heading opacity-60">Admin</span>
          </div>
          <h6 class="font-workSans font-bold text-h6 text-heading">The Impact of Covid-19 on travel & tourism industry</h6>
        </div>
      </div>

      <div class="flex items-center gap-[20px]">
        <img class="w-[170px]" [src]="updatesImageUrl3">
        <div class="flex flex-col gap-2">
          <div class="flex items-center">
            <span class="font-inter font-light text-body text-heading opacity-60 mr-[13px]">July, 13, 2023</span>
            <div class="p-3">
              <div class="bg-heading w-1 h-1 rounded-full opacity-60"></div>
            </div>
            <span class="font-inter font-light text-body text-heading opacity-60">Admin</span>
          </div>
          <h6 class="font-workSans font-bold text-h6 text-heading">The Impact of Covid-19 on travel & tourism industry</h6>
        </div>
      </div>

      <div class="flex items-center gap-[20px]">
        <img class="w-[170px]" [src]="updatesImageUrl4">
        <div class="flex flex-col gap-2">
          <div class="flex items-center">
            <span class="font-inter font-light text-body text-heading opacity-60 mr-[13px]">July, 13, 2023</span>
            <div class="p-3">
              <div class="bg-heading w-1 h-1 rounded-full opacity-60"></div>
            </div>
            <span class="font-inter font-light text-body text-heading opacity-60">Admin</span>
          </div>
          <h6 class="font-workSans font-bold text-h6 text-heading">The Impact of Covid-19 on travel & tourism industry</h6>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- Logos -->
<div class="flex px-[135px] py-[60px] bg-surface">
    <div class="flex w-full items-center text-heading opacity-60 justify-between">
      <div>
        <img [src]="letsGoIconUrl">
      </div>

      <div>
        <img [src]="mountainsIconUrl">
      </div>

      <div>
        <img [src]="sayYesIconUrl">
      </div>

      <div>
        <img [src]="startTravelIconUrl">
      </div>

      <div>
        <img [src]="summerIconUrl">
      </div>
    </div>
</div>
