<div class="flex items-center justify-center relative h-[530px]">
  <div class="absolute inset-0 bg-secondaryPageTitleColor"></div>
  <div class="absolute inset-0 bg-primaryPageTitleColor opacity-70"></div>

  <div class="flex flex-col items-center z-10">
    <div class="flex flex-col items-center gap-2">
      <span class="font-kaushan font-normal text-3xl text-brandPrimary">Save 15% off in Worldwide</span>
      <h1 class="font-workSans text-h1 font-bold text-white">Travel & Adventures</h1>
    </div>

    <span class="font-workSans text-subtitle font-semibold text-white">Find awesome hotel, tour, car and activities in London</span>
  </div>

  <div class="absolute bottom-[-55px]">
    <div class="flex bg-white rounded-xl p-6">
      <form>
        <div class="flex justify-between gap-4">
          <div class="flex flex-col gap-1">
            <label class="font-kaushan font-normal text-sm leading-[16px] text-heading">Destination</label>
            <div class="relative">
              <input class="w-full pl-10 pr-[10px] py-[10px] border border-opacity-10 rounded-md border-heading placeholder:font-inter text-bodySmall font-light text-opacity-40" placeholder="Where to go?">
              <img class="absolute w-4 left-2 top-1/2 transform -translate-y-1/2 ml-2" [src]="sendIconUrl" alt="Send icon">
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label class="font-kaushan font-normal text-sm leading-[16px] text-heading">Type</label>
            <div class="relative">
              <input class="w-full pl-10 pr-[10px] py-[10px] border border-opacity-10 rounded-md border-heading placeholder:font-inter text-bodySmall font-light text-opacity-40" placeholder="Activity">
              <img class="absolute w-4 left-2 top-1/2 transform -translate-y-1/2 ml-2" [src]="sendIconUrl" alt="Send icon">
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label class="font-kaushan font-normal text-sm leading-[16px] text-heading">When</label>
            <div class="relative">
              <input class="w-full pl-10 pr-[10px] py-[10px] border border-opacity-10 rounded-md border-heading placeholder:font-inter text-bodySmall font-light text-opacity-40" placeholder="Date">
              <img class="absolute w-4 left-2 top-1/2 transform -translate-y-1/2 ml-2" [src]="sendIconUrl" alt="Send icon">
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label class="font-kaushan font-normal text-sm leading-[16px] text-heading">Guests</label>
            <div class="relative">
              <input class="w-full pl-10 pr-[10px] py-[10px] border border-opacity-10 rounded-md border-heading placeholder:font-inter text-bodySmall font-light text-opacity-40" placeholder="0">
              <img class="absolute w-4 left-2 top-1/2 transform -translate-y-1/2 ml-2" [src]="sendIconUrl" alt="Send icon">
            </div>
          </div>

          <div class="flex">
            <button class="font-inter text-action font-light text-white bg-brandPrimary px-7 py-3 rounded-md">Search</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<div class="h-[255px] bg-brandYellow">
  asd
</div>
