<app-page-title></app-page-title>

<section class="section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">
    <div class="flex gap-[130px]">
      <div class="w-[670px]">

        <ng-container *ngIf="articles && articles.length > 0; else noArticlesFound">
          <app-blog-card [articles]="articles"></app-blog-card>
          <app-pagination *ngIf="totalPages > 1" [totalPages]="totalPages" [page]="page"></app-pagination>
        </ng-container>

        <ng-template #noArticlesFound>
          <div class="font-light text-heading text-body text-opacity-70">No articles found.</div>
        </ng-template>

      </div>

      <div class="w-[370px]">

        <app-blog-search-form (emittedKeyword)="handleEmittedKeyword($event)"></app-blog-search-form>

        <app-blog-categories></app-blog-categories>

        <app-blog-recent-posts></app-blog-recent-posts>

        <app-blog-tags></app-blog-tags>

        <app-blog-gallery></app-blog-gallery>

      </div>
    </div>
  </div>
</section>
