<app-page-title></app-page-title>

<section class="section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">
    <div class="flex gap-[130px]">
      <div class="w-[65%]">

        <ng-container *ngIf="articles && articles.length > 0; else noArticlesFound">
          <app-blog-card [articles]="articles"></app-blog-card>
          <app-pagination *ngIf="totalPages > 1"></app-pagination>
        </ng-container>

        <ng-template #noArticlesFound>
          <div class="font-light text-heading text-body text-opacity-70">No articles found.</div>
        </ng-template>

      </div>

      <ng-container *ngIf="selectedImage">
        <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70">
          <img class="w-[65%] h-[65%] object-cover" [src]="selectedImage.image" [alt]="selectedImage.alt" (mouseleave)="closeSelectedImage($event)">
        </div>
      </ng-container>

      <div class="w-[35%]">

        <app-blog-sidebar></app-blog-sidebar>

      </div>
    </div>
  </div>
</section>
