<div class="p-[30px] bg-surface mb-[30px]">
  <h6 class="font-workSans font-bold text-h6 text-heading mb-3">Recent Posts</h6>

  <ul>
    <li class="flex gap-[14px] mb-4">
      <img class="w-[88px] h-[72px] object-cover" [src]="">

      <div>
        <div class="flex items-center">
          <span class="font-light text-heading text-xs opacity-60 mr-3"></span>
          <span class="w-1 h-1 bg-heading opacity-60 rounded-full mr-1"></span>
          <span class="font-light text-xs text-heading opacity-60"></span>
        </div>

        <span class="font-workSans font-semibold text-subtitle text-heading"></span>
      </div>
    </li>
  </ul>
</div>
