@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #051036;
  --color-primary--rgba: 5, 16, 54;

  --color-secondary: #fc5056;
  --color-secondary--rgba: 252, 80, 86;

  --text-lg--size: 18px;
  --text-lg--line: 28px;

  --text-h1--size: 56px;
  --text-h1--line: 64px;

  --text-h2--size: 48px;
  --text-h2--line: 56px;

  --text-h3--size: 40px;
  --text-h3--line: 48px;

  --text-h4--size: 32px;
  --text-h4--line: 40px;

  --text-h5--size: 24px;
  --text-h5--line: 32px;

  --text-h6--size: 18px;
  --text-h6--line: 24px;

  --text-subtitle--size: 16px;
  --text-subtitle--line: 24px;

  --text-body--size: 16px;
  --text-body--line: 26px;

  --text-bodySmall--size: 14px;
  --text-bodySmall--line: 20px;

  --text-action--size: 15px;
  --text-action--line: 16px;

  --text-caption--size: 12px;
  --text-caption--line: 16px;

  --font-fugaz: "Fugaz One", sans-serif;
  --font-workSans: "Work Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-kaushan: "Kaushan", sans-serif;
}

body {
  width: 100%;
  max-width: 100%;
  font-family: var(--font-inter);
}

.custom-container {
  @apply w-full max-w-[1270px] mx-auto px-[50px];
}

.authentication-container {
  @apply w-full max-w-[640px] mx-auto px-[50px];
}

.home-logo-section-block-spacing-top-bottom {
  @apply py-12;
}

.home-section-block-spacing-top {
  @apply pt-[144px];
}
.section-block-spacing-top {
  @apply pt-[100px];
}

.section-block-spacing-bottom {
  @apply pb-[100px];
}

/* Footer */
.footer-section {
  @apply bg-black;
}

.footer-spacing {
  @apply py-20;
}

.footer-flex-container {
  @apply flex justify-between;
}

.footer-logo-header {
  @apply font-kaushan font-bold text-h5 text-white;
}

.footer-help-label {
  @apply block font-kaushan text-white mt-[35px] my-[6px];
}

.footer-contact-flex {
  @apply flex items-center;
}

.footer-call-us-label {
  @apply font-workSans text-h6 font-bold text-white;
}

.footer-contact-label {
  @apply font-workSans text-h6 font-bold text-brandPrimary;
}

.footer-location-container {
  @apply mt-[20px] mb-[26px];
}

.footer-location-label {
  @apply block font-inter text-body font-light text-white;
}

.footer-icons-container {
  @apply flex gap-3 text-white text-opacity-80;
}

.footer-icon {
  @apply text-2xl;
}
