<div class="flex text-center justify-center gap-2">
  <div class="bg-white border-[1px] border-heading border-opacity-10 w-12 h-12 rounded-full p-3">
    <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">
      <i class="fa-solid fa-arrow-left"></i>
    </span>
  </div>
  <div class="bg-brandPrimary border-[1px] border-heading border-opacity-10 w-12 h-12 rounded-full p-3">
    <span class="font-workSans font-semibold text-subtitle text-white">1</span>
  </div>
  <div class="bg-white border-[1px] border-heading border-opacity-10 w-12 h-12 rounded-full p-3">
    <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">2</span>
  </div>
  <div class="bg-white border-[1px] border-heading border-opacity-10 w-12 h-12 rounded-full p-3">
    <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">3</span>
  </div>
  <div class="bg-white border-[1px] border-heading border-opacity-10 w-12 h-12 rounded-full p-3">
    <span class="font-workSans font-semibold text-subtitle text-heading opacity-60">
      <i class="fa-solid fa-arrow-right"></i>
    </span>
  </div>
</div>
