<div>
  <!--<ul class="flex items-center text-sm gap-6">-->
  <ul class="flex items-center text-base font-light gap-6">
    <li>
      <a class="hover:text-textRed duration-300" routerLink="/">Home</a>
    </li>
    <li>
      <a class="hover:text-textRed duration-300" routerLink="about-us">About</a>
    </li>
    <li>
      <a class="hover:text-textRed duration-300" routerLink="tours">Tours</a>
    </li>
    <li>
      <a class="hover:text-textRed duration-300" routerLink="destination">Destination</a>
    </li>
    <li>
      <a class="hover:text-textRed duration-300" routerLink="blog">Blog</a>
    </li>
    <li>
      <a class="hover:text-textRed duration-300" routerLink="pages">Pages</a>
    </li>
    <li>
      <a class="hover:text-textRed duration-300" routerLink="contact-us">Contact</a>
    </li>
  </ul>
</div>
