<app-page-title></app-page-title>

<section class="home-section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">
    <div class="flex gap-[30px]">


      <aside class="w-[25%]">
        <div>
          <app-tours-search-form></app-tours-search-form>

          <app-tours-filter-form></app-tours-filter-form>
        </div>
      </aside>



      <div class="flex flex-col w-[75%]">
        <app-tours-header></app-tours-header>

        <app-tours-listing></app-tours-listing>

        <app-pagination></app-pagination>

      </div>
    </div>
  </div>
</section>
