<app-page-title></app-page-title>

<section class="home-section-block-spacing-top section-block-spacing-bottom">
  <div class="custom-container">
    <div class="flex gap-[30px]">
      <aside class="w-[25%]">
        <div>
          <form class="p-[30px] bg-surface mb-[30px]">
            <h6 class="font-workSans font-bold text-h6 text-heading mb-2">Search</h6>

            <div class="relative">
              <input class="w-full px-4 py-3 rounded-lg placeholder:font-light" type="text" placeholder="Type anything...">

              <button class="group">
                <svg class="absolute bottom-0 right-4 transform -translate-y-1/2 fill-heading w-6 h-6 opacity-60 group-hover:opacity-100 hover:fill-brandPrimary duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
              </button>
            </div>
          </form>

          <form class="p-[30px] bg-surface mb-[30px]">
            <h6 class="font-workSans font-bold text-h6 text-heading mb-[13px]">Filter By</h6>

            <div class="relative w-full h-[5px] bg-heading bg-opacity-10 rounded-lg">
              <div class="w-[68px] h-[5px] bg-brandPrimary rounded-lg">
                <div class="w-3 h-3 bg-brandPrimary rounded-full ml-[68px]"></div>
              </div>
            </div>

            <div class="flex justify-between mt-2 mb-4">
              <span class="font-normal text-body text-heading opacity-80">$0.00</span>
              <h6 class="font-workSans font-bold text-heading text-h6">$150.00</h6>
            </div>

            <button class=" w-[107px] h-10 font-normal text-action text-white px-7 py-3 bg-brandPrimary rounded-md">Submit</button>
          </form>

          <form>
            <div class="p-[30px] bg-surface mb-[30px]">
              <h6 class="font-workSans font-bold text-h6 text-heading mb-3">Categories</h6>

              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">Adventure</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">Beaches</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">Boat Tours</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">Adventure</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">City Tours</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">Food</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">Hiking</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">Honeymoon</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">Museum Tours</label>
                </div>
              </div>
            </div>

            <div class="p-[30px] bg-surface mb-[30px]">
              <h6 class="font-workSans font-bold text-h6 text-heading mb-3">Destinations</h6>

              <div>
                <span class="font-normal text-base text-heading">Africa</span>

                <div class="flex flex-col gap-[6px] mt-2">
                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Morocco</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Tanzania</label>
                  </div>
                </div>
              </div>

              <div class="mt-4">
                <span class="font-normal text-base text-heading">America</span>

                <div class="flex flex-col gap-[6px] mt-2">
                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Argentina</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Canada</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Colombia</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Costa Rica</label>
                  </div>
                </div>
              </div>

              <div class="mt-4">
                <span class="font-normal text-base text-heading">Asia</span>

                <div class="flex flex-col gap-[6px] mt-2">
                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Cambodia</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Japan</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Nepal</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Thailand</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Vietnam</label>
                  </div>
                </div>
              </div>

              <div class="mt-4">
                <span class="font-normal text-base text-heading">Europe</span>

                <div class="flex flex-col gap-[6px] mt-2">
                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">France</label>
                  </div>

                  <div class="flex items-center gap-[6px]">
                    <input type="checkbox">
                    <label class="font-light text-body text-heading opacity-60">Greece</label>
                  </div>

                </div>
              </div>
            </div>

            <div class="p-[30px] bg-surface">
              <h6 class="font-workSans font-bold text-h6 text-heading mb-3">Reviews</h6>

              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">5 Stars</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">4 Stars & Up</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">3 Stars & Up</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">2 Stars & Up</label>
                </div>

                <div class="flex items-center gap-[6px]">
                  <input type="checkbox">
                  <label class="font-light text-body text-heading opacity-60">1 Stars & Up</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </aside>

      <div class="flex flex-col w-[75%]">
        <div class="flex justify-between">
          <div>
            <span class="font-light text-base leading-5 text-heading opacity-40">16 Tours</span>
          </div>

          <div class="flex items-center gap-2">
            <span class="font-light text-base leading-5 text-heading opacity-40">Sort by</span>
            <svg class="w-5 h-5 fill-heading opacity-60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M183.6 469.6C177.5 476.2 169 480 160 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L128 365.7 128 64c0-17.7 14.3-32 32-32s32 14.3 32 32l0 301.7 32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 320c0-17.7 14.3-32 32-32l128 0c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9L429.3 416l50.7 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-128 0c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9L402.7 352 352 352c-17.7 0-32-14.3-32-32zM416 32c12.1 0 23.2 6.8 28.6 17.7l64 128 16 32c7.9 15.8 1.5 35-14.3 42.9s-35 1.5-42.9-14.3L460.2 224l-88.4 0-7.2 14.3c-7.9 15.8-27.1 22.2-42.9 14.3s-22.2-27.1-14.3-42.9l16-32 64-128C392.8 38.8 403.9 32 416 32zM395.8 176l40.4 0L416 135.6 395.8 176z"/></svg>

            <select class="w-[170px] h-8 border-[1px] px-2 border-heading border-opacity-20 rounded-md font-light text-base text-heading text-opacity-40">
              <option value="Title">Title</option>
            </select>
          </div>
        </div>
        <div class="grid grid-cols-3">
          <div class="bg-red-400">Column 1</div>
          <div class="bg-orange-400">Column 2</div>
          <div class="bg-amber-400">Column 3</div>
          <div class="bg-amber-400">Column 4</div>

          <div *ngFor="let i of [].constructor(100); let index = index">Column {{ index }} </div>
        </div>
      </div>
    </div>
  </div>
</section>
