<ul class="pagination-container">

  <li class="pagination-element">
    <span>
      <i class="fa-solid fa-angles-left"></i>
    </span>
  </li>

  <li class="pagination-element">
    <span>
      <i class="fa-solid fa-angle-left"></i>
    </span>
  </li>

  <li *ngFor="let page of pages" class="pagination-element">
    <span>{{ page }}</span>
  </li>

  <li class="pagination-element">
    <span>
      <i class="fa-solid fa-angle-right"></i>
    </span>
  </li>

  <li class="pagination-element">
    <span>
      <i class="fa-solid fa-angles-right"></i>
    </span>
  </li>

</ul>
