<ul class="pagination-container">

  <li *ngIf="currentPage > 2" class="pagination-element" (click)="goToPage(1)">
    <span class="hover:text-brandPrimary duration-300 cursor-pointer">
      <i class="fa-solid fa-angles-left"></i>
    </span>
  </li>

  <li *ngIf="currentPage > 1" class="pagination-element" (click)="goToPreviousPage()">
    <span class="hover:text-brandPrimary duration-300 cursor-pointer">
      <i class="fa-solid fa-angle-left"></i>
    </span>
  </li>

  <li [ngClass]="{
    'text-white bg-brandPrimary' : page == currentPage,
    'hover:text-brandPrimary duration-300 cursor-pointer' : page != currentPage
    }" *ngFor="let page of pages" class="pagination-element" (click)="goToPage(page)">
    <span>{{ page }}</span>
  </li>

  <li *ngIf="currentPage < totalPages" class="pagination-element" (click)="goToNextPage()">
    <span class="hover:text-brandPrimary duration-300 cursor-pointer">
      <i class="fa-solid fa-angle-right"></i>
    </span>
  </li>

  <li *ngIf="currentPage < totalPages - 1" class="pagination-element" (click)="goToPage(totalPages)">
    <span class="hover:text-brandPrimary duration-300 cursor-pointer">
      <i class="fa-solid fa-angles-right"></i>
    </span>
  </li>

</ul>
