<ul class="pagination-container">

  <li class="pagination-element"
    (click)="goToPreviousPage()"
    [ngClass]="{ 'cursor-pointer hover:text-brandPrimary duration-300' : currentPage != 1 }">
    <i class="fa-solid fa-angle-left"></i>
  </li>

  <li
    *ngFor="let page of pages"
    class="pagination-element"
    (click)="goToPage(page)"
    [ngClass]="{
      'text-white bg-brandPrimary' : currentPage == page,
      'cursor-pointer hover:text-brandPrimary duration-300' : currentPage != page
    }">
    {{ page }}
  </li>

  <li
    class="pagination-element"
    [ngClass]="{ 'cursor-pointer hover:text-brandPrimary duration-300' : currentPage < totalPages }"
    (click)="goToNextPage()">
    <i class="fa-solid fa-angle-right"></i>
  </li>

</ul>
